<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" href="./css/styles.css">
    <link rel="stylesheet" href="./css/login.css">
    <link rel="stylesheet" href="./css/normalize.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"rel="stylesheet" />
</head>
<body>
  <header>
    <div class="primeraParte">
<img src="/images/logo-mercado-liebre.svg" alt="logo" class="foto-logo">
<form method="get" action="" id="form">
    <input class="barraBusqueda" type="search" name="q" placeholder="buscar productos">
    <button type="submit"><i class="fas fa-search"></i></button>
  </form>

<div class="compra"><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</div>
    </div><br><br>
  <article class="contenedor01">
    <div class="ahr">
<nav class="oculto">
    <ul class="lista">
        <li class="li"><a href="#">Ofertas</a></li>
        <li class="li"><a href="#">Tiendas Oficiales</a></li>
        <li class="li"><a href="#">Vender</a></li>
        <li class="li"><a href="#">Ayuda</a></li>
    </ul>
    <ul class="lista">
        <li class="li"><a href="/register">Creá tu cuenta</a><i class="far fa-id-card"></i></li>
        <li class="li"><a href="login">Ingresá</a><i class="fas fa-sign-in-alt"></i></li>
        <li class="li"><a href="#">Mis Compras</a><i class="fas fa-shopping-basket"></i></li>
    </ul>
</nav>
    </div>
  <div class="burger-menu">
    <i class="fas fa-bars"></i>
  </div>      
  <br>
</header>
 
  <section class="login">
    <form>
        <div><br><br>
          <label for="nombre"></label>
          <input type="text" id="nombre" name="nombre" placeholder="Nombre de usuario" required class="loginInfo">
        </div><br><br>
        <div>
          <label for="contraseña"></label>
          <input type="password" id="contraseña" name="contraseña" placeholder="Elegí tu contraseña" required class="loginInfo">
        </div><br><br>
        <div>
          <input type="submit" value="Enviar" id="enviar">
        </div><br><br>
      </form>
  </section>

      <article class="contenedor04">
        <footer>
          <section class="padre">
              <div class="hijo">
              <p class="icono-fot"><i class="fas fa-credit-card icon" style="font-size: 3em; color: #1259c3;"></i></p><br><br>
              <h3>Pagá con tarjeta o en efectivo</h3>
                  <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                  puntos de pago. ¡Y siempre es seguro!</p>
              </div>
              <div class="hijo">
                  <br>
                  <p class="icono-fot"><i class="fas fa-solid fa-gift" style="font-size: 3em; color: #1259c3;"></i></p>
                  <br>
              <h3>Envío gratis desde $ 2.500</h3>
                  <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                      productos. Es un beneficio de Mercado Puntos.</p>
              </div>
              <div class="hijo">
                      <br>
                  <p class="icono-fot"><i class="fas fa-solid fa-user-shield" style="font-size: 3em; color: #1259c3;"></i></p>
                  <br>
              <h3>Seguridad, de principio a fin</h3>
                  <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                      porque estás siempre protegid@.</p>
              </div>
              
          </section>
          <br><br>
        <p id="copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
      </footer>
    </article>
      
</body>
</html>