*{
    box-sizing: border-box;
}

body{
    font-family: 'roboto', sans-serif;
    background-color: rgb(212, 212, 212);
}
h1{
    text-align: center;
}
.formularios{
    display: flex;
    justify-content: center;
}
.form{
    background-color: white;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}
article{
    padding: 10px;
}

input{
    border-radius: 5px;
    border-width: 1px;
}

.titular{
    padding-left: 10px;
    
}
.contenedor04{
    background-color: white;
}

@media (min-width: 361px) {
    .oculto{
        display: flex;
    }
    .oculto{
        display: flex;
        justify-content: space-around;
    }
    .lista{
        display: flex;
        justify-content: space-around;
    }
    .li{
        margin-left: 10px;
        margin-right: 10px;
    }
    .burger-menu{
        display: none;
    }
}
@media (min-width: 768px){
   
    .contenedor03{
        flex-basis: 50%;
    }
    
}
@media (min-width: 1024px){
    .contenedor03{
        flex-basis: 25%;
    }
    .primeraParte{
        display:flex;
        align-items: center;
        justify-content: space-around;
    }
    .padre{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .hijo{
        padding: 5px;
    }
}